<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :bitcoin_wallet %><br />
    <%= f.text_field :bitcoin_wallet %>
  </div>

  <div class="field">
    <%= f.label :litecoin_wallet %><br />
    <%= f.text_field :litecoin_wallet %>
  </div>

    <div class="field">
    <%= f.label :ripple_wallet %><br />
    <%= f.text_field :ripple_wallet %>
  </div>

  <div class="field">
    <%= f.label :dash_wallet %><br />
    <%= f.text_field :dash_wallet %>
  </div>


  <div class="field">
    <%= f.label :doge_wallet %><br />
    <%= f.text_field :doge_wallet %>
  </div>

  <div class="field">
    <%= f.label :etherium_wallet %><br />
    <%= f.text_field :etherium_wallet %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
