<%= form_for @claim do |f| %>
  <%= f.hidden_field :coin_type, value: coin_type %>
  <script type="text/javascript"
    src="http://api.solvemedia.com/papi/challenge.script?k=D4f9Dy7tNWlTBwKlcugcSd0JrjGaP.EB">
  </script>
  <%= f.submit "claim", class: "btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom" %>
<% end %>

