<div class="col-lg-8">
  <section class="box" style="border-left: 3px solid #e77512;">
    <header class="panel_header">
      <h2 class="title pull-left">Recent claims</h2>
    </header>
    <div class="content-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="table-responsive" data-pattern="priority-columns">
            <table id="tech-companies-1" class="table table-small-font no-mb table-bordered table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th data-priority="1">Time</th>
                  <th data-priority="1">Amount</th>
                  <th data-priority="3">Coin</th>
                </tr>
              </thead>
              <tbody>
                <% @claims.each do |claim| %>
                <tr>
                  <th><i class="fa fa-dot-circle-o complete"></i> <%= claim.id %></th>
                  <td><%= claim.created_at.strftime("%d %b")  %></td>
                  <td><i class="fa fa-plus complete normal"></i><%= claim.amount %></td>
                  <td><span class="status-complete"><%= claim.coin_type %></span></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>