<iframe data-aa="1239934" src="//ad.a-ads.com/1239934?size=200x200" scrolling="no" style="width:200px; height:200px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>
<div class="col-xs-12">
  <div class="page-title">
    <div class="pull-left">
      <!-- PAGE HEADING TAG - START -->
      <h1 class="title">My Bitcoin</h1>
      <!-- PAGE HEADING TAG - END -->
    </div>
  </div>
</div>
<div class="col-lg-4">
  <section class="box has-border-left-3">
    <header class="panel_header">
      <h2 class="title">Bitcoin</h2>
    </header>
    <div class="content-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center no-mt no-mb">
            <div class="transfer-wraper">
              <div class="crypto-icon">
                <i class="cc BTC color-primary"></i>
              </div>
              <strong class="mb-20">Bitcoin</strong>
              <div class="form-group cryptonia no-mb">
                
                <span class="desc"></span>
                <span class="desc">Last Claim</span>
                <label class="form-label"> <%= last_claim_formatter @last_claim %> </label><br>
                <span class="desc">Estimated claim</span>
                <label class="form-label"><%= human_readable @estimated_claim %> bitcoin</label><br>
                <div class="mt-10 balance">
                  <strong class="form-label bold">Balance : </strong>
                  <span class="desc color-primary f-s-14"> <%= human_readable @balance %></span>
                </div>
                <div class="no-pr">
                  <%= render partial: 'claims/new', locals: {coin_type: :bitcoin} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>