<section class="box nobox marginBottom0">

  <div class="content-body">
    <%= render partial: 'ad_spaces/horizantal_big' %>
    <iframe src="http://coinmedia.co/new_code_site121872.js" scrolling="no" frameborder="0" width="728px" height="120px"></iframe>
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="r4_counter db_box">
          <div class="icon-after cc BTC-alt"></div>
          <i class="pull-left cc BTC-alt icon-md icon-primary mt-10"></i>
          <div class="stats">
            <h3 class="mb-5"><%= @bitcoin %> BTC</h3>
            <span>BTC balance</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="r4_counter db_box">
          <div class="icon-after cc LTC-alt"></div>
          <i class="pull-left cc LTC-alt icon-md icon-primary mt-10"></i>
          <div class="stats">
            <h3 class="mb-5"><%= @litecoin %> LTC</h3>
            <span>Litecoin balance</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="r4_counter db_box">
          <div class="icon-after cc XRP-alt"></div>
          <i class="pull-left cc XRP-alt icon-md icon-primary mt-10"></i>
          <div class="stats">
            <h3 class="mb-5"><%= @ripple %> Ripple</h3>
            <span>Ripple balance</span>
          </div>
        </div>
      </div>
    </div>
        <div class="row">
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="r4_counter db_box">
          <div class="icon-after cc DASH-alt"></div>
          <i class="pull-left cc DASH-alt icon-md icon-primary mt-10"></i>
          <div class="stats">
            <h3 class="mb-5"><%= @dash %> DASH</h3>
            <span>DASH balance</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="r4_counter db_box">
          <div class="icon-after cc DOGE-alt"></div>
          <i class="pull-left cc DOGE-alt icon-md icon-primary mt-10"></i>
          <div class="stats">
            <h3 class="mb-5"><%= @doge %> DOGE</h3>
            <span>DOGE balance</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="r4_counter db_box">
          <div class="icon-after cc ETC-alt"></div>
          <i class="pull-left cc ETC-alt icon-md icon-primary mt-10"></i>
          <div class="stats">
            <h3 class="mb-5"><%= @etherium %> ETC</h3>
            <span>ETC balance</span>
          </div>
        </div>
      </div>
    </div>
    <!-- End .row -->
  </div>
</section>