<div class="col-lg-4">
  <section class="box has-border-left-3">
    <header class="panel_header">
      <h2 class="title pull-left">Bitcoin wallet</h2>
    </header>
    <div class="content-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center no-mt no-mb">
            <div class="transfer-wraper">
              <div class="crypto-icon">
                <i class="cc BTC color-primary"></i>
              </div>
              <strong class="mb-20">Bitcoin</strong>
              <div class="form-group cryptonia no-mb">
                <label class="form-label mt-10">wallet address</label>
                <span class="desc"></span>
                <div class="input-group mb-10">
                  <span class="input-group-addon has-gradient-to-right-bottom">
                  <i class="cc BTC-alt icon-white"></i>   
                  </span>
                  <input class="form-control-static with-border">OxsD12F32xvW3deG5...</input>

                  <a href="#" class="input-group-addon" data-color-class="primary" data-animate=" animated fadeIn" data-toggle="tooltip" data-original-title="copy" data-placement="top"><i class="fa fa-copy text-dark"></i></a>
                </div>
                <div class="col-sm-6 no-pr">
                  <a href="buy-and-sell.html" class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom" style="width:100%">Update</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>