

<div class="contact-us-one" id="contact">

						<div class="container">
            <div class="theme-title text-center">
            <h2>Log in</h2>
            </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-validation" ) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>

    
    </div>
</div>

