/*! CSS Used from: http://localhost:3000/assets/anonymous.self-769f81bebefe79bfedc22cdd2501a3fc79c54f0e1285f8f7c9a5e4ebfdb7927d.css?body=1 ; media=all */
@media all {
  @media print {

    *,
    ::after,
    ::before {
      text-shadow: none !important;
      box-shadow: none !important;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    img {
      page-break-inside: avoid;
    }

    h2,
    p {
      orphans: 3;
      widows: 3;
    }

    h2 {
      page-break-after: avoid;
    }

    .navbar {
      display: none;
    }
  }

  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  footer,
  header,
  nav {
    display: block;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }

  h1,
  h2 {
    margin-top: 0;
    margin-bottom: .5rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  ul {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }

  a:hover {
    color: #0056b3;
    text-decoration: underline;
  }

  img {
    vertical-align: middle;
    border-style: none;
  }

  a,
  button {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  button {
    border-radius: 0;
  }

  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }

  button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  button {
    overflow: visible;
  }

  button {
    text-transform: none;
  }

  button,
  html [type=button] {
    -webkit-appearance: button;
  }

  [type=button]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }

  h1,
  h2 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1170px;
    }
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-lg-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  @media (min-width: 992px) {
    .col-lg-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
  }

  .navbar>.container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .25rem;
  }

  .navbar-toggler:focus,
  .navbar-toggler:hover {
    text-decoration: none;
  }

  @media (max-width: 991px) {
    .navbar-expand-lg>.container {
      padding-right: 0;
      padding-left: 0;
    }
  }

  @media (min-width: 992px) {
    .navbar-expand-lg {
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }

    .navbar-expand-lg>.container {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }

    .navbar-expand-lg .navbar-toggler {
      display: none;
    }
  }

  .clearfix::after {
    display: block;
    clear: both;
    content: "";
  }

  .fa {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .fa-bars:before {
    content: "\f0c9";
  }

  #loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: #fff;
    overflow: hidden;
  }

  #loader {
    background: url(http://html.creativegigs.net/cryto/cryto/images/1.gif);
    width: 64px;
    height: 64px;
    position: relative;
    top: 50%;
    margin: -32px auto 0 auto;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f4f4f4;
  }

  body {
    font-family: 'proxima_novaregular';
    font-weight: normal;
    color: rgba(48, 61, 83, 0.7);
    font-size: 18px;
    position: relative;
  }

  .main-page-wrapper {
    overflow-x: hidden;
  }

  h1,
  h2,
  p,
  ul {
    margin: 0;
    padding: 0;
  }

  h1,
  h2 {
    color: #283249;
  }

  h1 {
    font-family: 'brandon_grotesquebold';
    font-size: 70px;
    line-height: 75px;
  }

  h2 {
    font-family: 'brandon_grotesquemedium';
    font-size: 50px;
  }

  p {
    line-height: 32px;
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    display: inline-block;
  }

  a:hover,
  a:focus,
  a:visited {
    text-decoration: none;
    outline: none;
  }

  img {
    max-width: 100%;
    display: block;
  }

  button {
    border: none;
    outline: none;
    box-shadow: none;
    display: block;
    padding: 0;
    cursor: pointer;
  }

  button:focus {
    outline: none;
  }

  .theme-main-menu .right-widget .login-button a {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .theme-top-section,
  #theme-banner,
  #theme-banner .main-text-wrapper {
    position: relative;
    z-index: 5;
  }

  .theme-main-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 10px;
    z-index: 99;
    background: white;
    transition: all 0.3s ease-in-out;
  }

  .menu-wrapper {
    position: relative;
  }

  .theme-main-menu .logo {
    float: left;
  }

  .theme-main-menu .logo a {
    display: block;
    margin-top: 5px;
  }

  .theme-main-menu #mega-menu-holder,
  .theme-main-menu .right-widget {
    float: right;
    padding: 0;
  }

  .theme-main-menu .right-widget {
    position: relative;
    z-index: 9;
  }

  #mega-menu-holder .navbar-toggler {
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 8px;
  }

  .theme-main-menu .right-widget>li {
    float: left;
  }

  .theme-main-menu .right-widget .login-button a {
    width: 105px;
    height: 40px;
    line-height: 38px;
    border: 2px solid #ebebeb;
    border-radius: 20px;
    text-transform: uppercase;
    color: rgba(52, 72, 106, 0.35);
    font-size: 16px;
    padding-left: 28px;
  }

  .theme-main-menu .right-widget .login-button a:hover {
    color: #fff;
  }


  .theme-banner-one .main-text-wrapper {
    padding: 318px 0 180px;
  }

  .theme-banner-one .main-text-wrapper p {
    font-size: 22px;
    line-height: 37px;
    padding: 35px 0 50px;
  }

  .theme-banner-one .illustration {
    position: absolute;
    top: 25%;
    right: 10%;
    z-index: -1;
  }

  .theme-banner-one .round-shape-three {
    position: absolute;
    right: 22%;
    top: 48%;
    z-index: -1;
    width: 28px;
    height: 28px;
    border: 5px solid #b377f6;
    border-right: none;
    border-bottom: none;
    border-radius: 85% 0 0 0;
    animation: border-two 2s ease-in-out alternate infinite;
  }

  .our-feature-two .text {
    position: relative;
    padding: 0 0 60px 60px;
  }

  .our-feature-two .text .title {
    font-size: 50px;
    line-height: 60px;
  }

  .our-feature-two .text p {
    padding: 30px 0;
  }

  .our-feature-two .img-box img {
    margin: 60px auto 0;
  }

  .our-feature-two .single-block:nth-child(1) .text {
    border-left: 1px dashed #dcdcdc;
    border-bottom: 1px dashed #dcdcdc;
    border-radius: 0 0 0 20px;
  }

  .our-feature-two .single-block:nth-child(1) .text:before {
    content: '';
    width: 1px;
    height: 39px;
    position: absolute;
    background: #fff;
    top: 0;
    left: -1px;
  }

  .theme-footer {
    position: relative;
    z-index: 1;
  }

  .theme-footer .inner-wrapper {
    background: url(http://html.creativegigs.net/cryto/cryto/images/home/bg4.png) no-repeat center center;
  }

  .theme-footer .bottom-footer {
    padding: 45px 0;
  }

  .theme-footer .bottom-footer .copyright {
    float: left;
    font-size: 17px;
    line-height: 34px;
  }

  @media (min-width: 992px) {
    .container {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    .theme-banner-one .main-text-wrapper p {
      margin-left: 150px;
      padding-right: 150px;
    }

    .theme-banner-one .main-text-wrapper {
      padding-top: 270px;
    }
  }

  @media (max-width: 991px) {
    .theme-main-menu {
      padding: 30px 0 20px;
    }

    .theme-main-menu .right-widget .login-button {
      display: none;
    }

    .theme-main-menu .logo {
      float: none;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;
    }

    .theme-main-menu #mega-menu-holder {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .theme-banner-one .main-text-wrapper p {
      padding-left: 0;
      padding-right: 0;
    }

    .our-feature-two {
      padding: 100px 0 50px;
    }

    .our-feature-two .text,
    .our-feature-two .single-block:nth-child(1) .text {
      border: none;
      padding: 0 0 60px;
    }

    .our-feature-two .img-box>div {
      padding: 0 0 50px;
    }

    .theme-footer .bottom-footer {
      padding: 30px 0;
    }

    .theme-main-menu .logo a {
      margin: 0;
    }

    .our-feature-two .img-box img {
      margin-top: 0;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .theme-banner-one .main-text-wrapper {
      padding: 180px 0 50px;
    }
  }

  @media (max-width: 767px) {
    #theme-banner h1 {
      font-size: 45px;
      line-height: 55px;
    }

    .theme-banner-one .main-text-wrapper p {
      font-size: 20px;
      line-height: 32px;
      padding: 30px 0 40px;
    }

    .theme-banner-one .main-text-wrapper {
      padding: 170px 0 40px;
    }

    .our-feature-two .text .title {
      font-size: 45px;
      line-height: 52px;
    }

    .theme-banner-one .illustration {
      display: none;
    }
  }

  @media (max-width: 575px) {
    .theme-footer .bottom-footer .copyright {
      float: none;
      text-align: center;
      padding-bottom: 20px;
    }

    #theme-banner h1 br {
      display: none;
    }
  }

  #mega-menu-holder .navbar-toggler {
    background: #02d4b5;
  }

  .theme-main-menu .right-widget .login-button a:hover {
    background: #01daba;
  }

  .our-feature-two .text .title span {
    color: #01daba;
  }

  ::-webkit-scrollbar-thumb {
    background: #01daba;
  }
}

/*! CSS Used from: Embedded */
#lolli-detect-b {
  height: 1px;
  width: 1px;
  position: absolute;
  left: -999em;
  top: -999em;
}

/*! CSS Used from: Embedded */
#lolli-detect-c {
  height: 1px;
  width: 1px;
  position: absolute;
  left: -999em;
  top: -999em;
}

/*! CSS Used keyframes */
@-webkit-keyframes border-two {
  0% {
    border: 5px solid #b377f6;
    border-right: none;
    border-bottom: none;
  }

  50% {
    border: 5px solid #fec25e;
    border-right: none;
    border-bottom: none;
  }

  100% {
    border: 5px solid #01daba;
    border-right: none;
    border-bottom: none;
  }
}

@keyframes border-two {
  0% {
    border: 5px solid #b377f6;
    border-right: none;
    border-bottom: none;
  }

  50% {
    border: 5px solid #fec25e;
    border-right: none;
    border-bottom: none;
  }

  100% {
    border: 5px solid #01daba;
    border-right: none;
    border-bottom: none;
  }
}

/*! CSS Used fontfaces */
@font-face {
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-weight: normal;
  font-style: normal;
}
/*! CSS Used from: http://html.creativegigs.net/cryto/cryto/css/style.css */
/*! @import http://html.creativegigs.net/cryto/cryto/vendor/bootstrap/css/bootstrap.min.css */
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
h2,p{orphans:3;widows:3;}
h2{page-break-after:avoid;}
}
*,::after,::before{box-sizing:border-box;}
h2{margin-top:0;margin-bottom:.5rem;}
p{margin-top:0;margin-bottom:1rem;}
button,input:not([type=range]),label{-ms-touch-action:manipulation;touch-action:manipulation;}
label{display:inline-block;margin-bottom:.5rem;}
button{border-radius:0;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button,input{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;}
button::-moz-focus-inner{padding:0;border-style:none;}
h2{margin-bottom:.5rem;font-family:inherit;font-weight:500;line-height:1.2;color:inherit;}
h2{font-size:2rem;}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:576px){
.container{max-width:540px;}
}
@media (min-width:768px){
.container{max-width:720px;}
}
@media (min-width:992px){
.container{max-width:960px;}
}
@media (min-width:1200px){
.container{max-width:1170px;}
}
.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.col-12,.col-md-6{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px;}
.col-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}
@media (min-width:768px){
.col-md-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;}
}
.text-center{text-align:center!important;}
/*! end @import */
/*! @import http://html.creativegigs.net/cryto/cryto/fonts/font-awesome/css/font-awesome.min.css */
.fa{display:inline-block;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-times:before{content:"\f00d";}
/*! end @import */
::-webkit-scrollbar{width:8px;}
::-webkit-scrollbar-track{background:#f4f4f4;}
h2,p{margin:0;padding:0;}
h2{color:#283249;}
h2{font-family:'brandon_grotesquemedium';font-size:50px;}
p{line-height:32px;}
button{border:none;outline:none;box-shadow:none;display:block;padding:0;cursor:pointer;}
button:focus{outline:none;}
input{outline:none;-webkit-box-shadow:none;box-shadow:none;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.contact-us-one form button{-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.theme-title h2{font-family:'brandon_grotesquemedium';font-size:55px;line-height:65px;font-weight:normal;}

.contact-us-one .overlay{background:rgba(0,0,0,0.53);padding:110px 0 140px;}
.contact-us-one .theme-title p{font-size:20px;color:#fff;padding-top:12px;}
.contact-us-one form{margin-top:70px;background:#fff;border-radius:4px;box-shadow:0px 3px 60px 0px rgba(166, 188, 206, 0.15);padding:65px 85px 60px;position:relative;z-index:1;}
.contact-us-one form label{font-family:'brandon_grotesquemedium';color:#3a3c4e;display:block;margin-bottom:10px;}
.contact-us-one form input{width:100%;height:55px;border:none;background:#f9f9f9;border-radius:8px;padding:0 15px;font-size:16px;margin-bottom:30px;}
.contact-us-one form input:focus{box-shadow:0px 3px 16px 0px rgba(63, 53, 53, 0.07);}
.contact-us-one form button{font-family:'brandon_grotesquemedium';width:220px;height:55px;border-radius:4px;display:block;margin:10px auto 0;color:#fff;font-size:20px;}
.contact-us-one form button:hover{background:#fec25e;}
.alert-wrapper{display:none;position:fixed;width:100%;height:100%;background:rgba(0,0,0,0.6);top:0;left:0;z-index:9999999;}
#success,#error{position:relative;width:500px;height:100px;top:calc(50% - 50px);left:calc(50% - 250px);background:rgba(0,0,0,0.8);text-align:center;}
#success .wrapper,#error .wrapper{display:table;width:100%;height:100%;}
#success .wrapper p,#error .wrapper p{display:table-cell;vertical-align:middle;letter-spacing:1px;}
#success p{color:#26ace3;}
#error p{color:#C9182B;}
#error button,#success button{color:#fff;width:40px;height:40px;line-height:20px;background:transparent;border-radius:50%;position:absolute;top:-20px;right:-20px;font-size:20px;}
/*! CSS Used from: http://html.creativegigs.net/cryto/cryto/css/responsive.css */
@media (min-width: 992px){
.container{padding-left:0!important;padding-right:0!important;}
}
@media (max-width: 991px){
.theme-title h2{font-size:40px;line-height:58px;}
.contact-us-one .overlay{padding:90px 0 100px;}
.contact-us-one form{padding:45px 15px;}
}
@media (max-width: 767px){
.contact-us-one .theme-title p br{display:none;}
}
@media (max-width: 650px){
#success,#error{width:86%;height:auto;top:calc(50% - 50px);left:7%;padding:30px 10px;}
}
/*! CSS Used from: http://html.creativegigs.net/cryto/cryto/css/color-one.css */
.contact-us-one form button{background:#01daba;}
::-webkit-scrollbar-thumb{background:#01daba;}
/*! CSS Used fontfaces */















/*! CSS Used from: http://html.creativegigs.net/cryto/cryto/css/style.css */
/*! @import http://html.creativegigs.net/cryto/cryto/vendor/bootstrap/css/bootstrap.min.css */
@media print {

  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }

  h2,
  p {
    orphans: 3;
    widows: 3;
  }

  h2 {
    page-break-after: avoid;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

h2 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

button,
input:not([type=range]),
label {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button,
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
}

button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

h2 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h2 {
  font-size: 2rem;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width:576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width:768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1170px;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-12,
.col-md-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width:768px) {
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.text-center {
  text-align: center !important;
}

/*! end @import */
/*! @import http://html.creativegigs.net/cryto/cryto/fonts/font-awesome/css/font-awesome.min.css */
.fa {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-times:before {
  content: "\f00d";
}

/*! end @import */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
}

h2,
p {
  margin: 0;
  padding: 0;
}

h2 {
  color: #283249;
}

h2 {
  font-family: 'brandon_grotesquemedium';
  font-size: 50px;
}

p {
  line-height: 32px;
}

button {
  border: none;
  outline: none;
  box-shadow: none;
  display: block;
  padding: 0;
  cursor: pointer;
}

button:focus {
  outline: none;
}

input {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact-us-one form button {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.theme-title h2 {
  font-family: 'brandon_grotesquemedium';
  font-size: 55px;
  line-height: 65px;
  font-weight: normal;
}

.contact-us-one {
  background-size: cover;
  background-attachment: fixed;
}

.contact-us-one .overlay {
  background: rgba(0, 0, 0, 0.53);
  padding: 110px 0 140px;
}

.contact-us-one .theme-title p {
  font-size: 20px;
  color: #fff;
  padding-top: 12px;
}

.contact-us-one form {
  margin-top: 70px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 60px 0px rgba(166, 188, 206, 0.15);
  padding: 65px 85px 60px;
  position: relative;
  z-index: 1;
}

.contact-us-one form label {
  font-family: 'brandon_grotesquemedium';
  color: #3a3c4e;
  display: block;
  margin-bottom: 10px;
}

.contact-us-one form input {
  width: 100%;
  height: 55px;
  border: none;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 16px;
  margin-bottom: 30px;
}

.contact-us-one form input:focus {
  box-shadow: 0px 3px 16px 0px rgba(63, 53, 53, 0.07);
}

.contact-us-one form button {
  font-family: 'brandon_grotesquemedium';
  width: 220px;
  height: 55px;
  border-radius: 4px;
  display: block;
  margin: 10px auto 0;
  color: #fff;
  font-size: 20px;
}

.contact-us-one form button:hover {
  background: #fec25e;
}

.alert-wrapper {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 9999999;
}

#success,
#error {
  position: relative;
  width: 500px;
  height: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 250px);
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}

#success .wrapper,
#error .wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

#success .wrapper p,
#error .wrapper p {
  display: table-cell;
  vertical-align: middle;
  letter-spacing: 1px;
}

#success p {
  color: #26ace3;
}

#error p {
  color: #C9182B;
}

#error button,
#success button {
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 20px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 20px;
}

/*! CSS Used from: http://html.creativegigs.net/cryto/cryto/css/responsive.css */
@media (min-width: 992px) {
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 991px) {
  .theme-title h2 {
    font-size: 40px;
    line-height: 58px;
  }

  .contact-us-one .overlay {
    padding: 90px 0 100px;
  }

  .contact-us-one form {
    padding: 45px 15px;
  }
}

@media (max-width: 767px) {
  .contact-us-one .theme-title p br {
    display: none;
  }
}

@media (max-width: 650px) {

  #success,
  #error {
    width: 86%;
    height: auto;
    top: calc(50% - 50px);
    left: 7%;
    padding: 30px 10px;
  }
}

/*! CSS Used from: http://html.creativegigs.net/cryto/cryto/css/color-one.css */
.contact-us-one form button {
  background: #01daba;
}

::-webkit-scrollbar-thumb {
  background: #01daba;
}

/*! CSS Used fontfaces */
@font-face {
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-weight: normal;
  font-style: normal;
}