@media screen{
.pace{-webkit-pointer-events:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;user-select:none;}
.pace-inactive{display:none;}
.pace .pace-progress{background:#29d;position:fixed;z-index:2000;top:0;right:100%;width:100%;height:2px;}
.pace .pace-progress-inner{display:block;position:absolute;right:0px;width:100px;height:100%;box-shadow:0 0 10px #29d, 0 0 5px #29d;opacity:1.0;-webkit-transform:rotate(3deg) translate(0px, -4px);-moz-transform:rotate(3deg) translate(0px, -4px);-ms-transform:rotate(3deg) translate(0px, -4px);-o-transform:rotate(3deg) translate(0px, -4px);transform:rotate(3deg) translate(0px, -4px);}
.pace .pace-activity{display:block;position:fixed;z-index:2000;top:15px;right:15px;width:14px;height:14px;border:solid 2px transparent;border-top-color:#29d;border-left-color:#29d;border-radius:10px;-webkit-animation:pace-spinner 400ms linear infinite;-moz-animation:pace-spinner 400ms linear infinite;-ms-animation:pace-spinner 400ms linear infinite;-o-animation:pace-spinner 400ms linear infinite;animation:pace-spinner 400ms linear infinite;}
}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
header,section{display:block;}
canvas{display:inline-block;vertical-align:baseline;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
strong{font-weight:700;}
h1{margin:.67em 0;font-size:2em;}
img{border:0;}
button,input{margin:0;font:inherit;color:inherit;}
button{overflow:visible;}
button{text-transform:none;}
button,input[type=submit]{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
input{line-height:normal;}
@media print{
*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
a[href^="javascript:"]:after,a[href^="#"]:after{content:"";}
img{page-break-inside:avoid;}
img{max-width:100%!important;}
h2,h3,p{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
.label{border:1px solid #000;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;}
button,input{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#337ab7;text-decoration:none;}
a:focus,a:hover{color:#23527c;text-decoration:underline;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
.img-circle{border-radius:50%;}
h1,h2,h3,h4{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h1,h2,h3{margin-top:20px;margin-bottom:10px;}
h4{margin-top:10px;margin-bottom:10px;}
h1{font-size:36px;}
h2{font-size:30px;}
h3{font-size:24px;}
h4{font-size:18px;}
p{margin:0 0 10px;}
.small{font-size:85%;}
.text-left{text-align:left;}
.text-center{text-align:center;}
ul{margin-top:0;margin-bottom:10px;}
ul ul{margin-bottom:0;}
.list-unstyled{padding-left:0;list-style:none;}
.list-inline{padding-left:0;margin-left:-5px;list-style:none;}
.list-inline>li{display:inline-block;padding-right:5px;padding-left:5px;}
.container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
.row{margin-right:-15px;margin-left:-15px;}
.col-lg-12,.col-lg-4,.col-lg-8,.col-sm-6,.col-xs-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
.col-xs-12{float:left;}
.col-xs-12{width:100%;}
@media (min-width:768px){
.col-sm-6{float:left;}
.col-sm-6{width:50%;}
}
@media (min-width:1200px){
.col-lg-12,.col-lg-4,.col-lg-8{float:left;}
.col-lg-12{width:100%;}
.col-lg-8{width:66.66666667%;}
.col-lg-4{width:33.33333333%;}
}
label{display:inline-block;max-width:100%;margin-bottom:5px;font-weight:700;}
input[type=file]{display:block;}
input[type=file]:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.form-control{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);}
.form-control::-moz-placeholder{color:#999;opacity:1;}
.form-control:-ms-input-placeholder{color:#999;}
.form-control::-webkit-input-placeholder{color:#999;}
.form-control::-ms-expand{background-color:transparent;border:0;}
.form-group{margin-bottom:15px;}
.form-control-static{min-height:34px;padding-top:7px;padding-bottom:7px;margin-bottom:0;}
.help-block{display:block;margin-top:5px;margin-bottom:10px;color:#737373;}
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;}
.btn:active:focus,.btn:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:focus,.btn:hover{color:#333;text-decoration:none;}
.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125);}
.btn-primary{color:#fff;background-color:#337ab7;border-color:#2e6da4;}
.btn-primary:focus{color:#fff;background-color:#286090;border-color:#122b40;}
.btn-primary:hover{color:#fff;background-color:#286090;border-color:#204d74;}
.btn-primary:active{color:#fff;background-color:#286090;border-color:#204d74;}
.btn-primary:active:focus,.btn-primary:active:hover{color:#fff;background-color:#204d74;border-color:#122b40;}
.btn-primary:active{background-image:none;}
.btn-lg{padding:10px 16px;font-size:18px;line-height:1.3333333;border-radius:6px;}
.fade{opacity:0;-webkit-transition:opacity .15s linear;-o-transition:opacity .15s linear;transition:opacity .15s linear;}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);}
.dropdown-menu>li>a{display:block;padding:3px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#333;white-space:nowrap;}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover{color:#262626;text-decoration:none;background-color:#f5f5f5;}
.open>a{outline:0;}
.input-group{position:relative;display:table;border-collapse:separate;}
.input-group .form-control{position:relative;z-index:2;float:left;width:100%;margin-bottom:0;}
.input-group .form-control:focus{z-index:3;}
.input-group .form-control,.input-group-addon{display:table-cell;}
.input-group-addon{width:1%;white-space:nowrap;vertical-align:middle;}
.input-group-addon{padding:6px 12px;font-size:14px;font-weight:400;line-height:1;color:#555;text-align:center;background-color:#eee;border:1px solid #ccc;border-radius:4px;}
.input-group-addon:first-child{border-top-right-radius:0;border-bottom-right-radius:0;}
.input-group-addon:first-child{border-right:0;}
.input-group .form-control:last-child,.input-group-addon:last-child{border-top-left-radius:0;border-bottom-left-radius:0;}
.input-group-addon:last-child{border-left:0;}
.label{display:inline;padding:.2em .6em .3em;font-size:75%;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em;}
.label:empty{display:none;}
.badge{display:inline-block;min-width:10px;padding:3px 7px;font-size:12px;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:middle;background-color:#777;border-radius:10px;}
.badge:empty{display:none;}
.close{float:right;font-size:21px;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;filter:alpha(opacity=20);opacity:.2;}
.close:focus,.close:hover{color:#000;text-decoration:none;cursor:pointer;filter:alpha(opacity=50);opacity:.5;}
button.close{-webkit-appearance:none;padding:0;cursor:pointer;background:0 0;border:0;}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0;}
.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%);}
.modal-dialog{position:relative;width:auto;margin:10px;}
.modal-content{position:relative;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5);}
.modal-header{padding:15px;border-bottom:1px solid #e5e5e5;}
.modal-header .close{margin-top:-2px;}
.modal-title{margin:0;line-height:1.42857143;}
.modal-body{position:relative;padding:15px;}
@media (min-width:768px){
.modal-dialog{width:600px;margin:30px auto;}
.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5);}
}
.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.modal-header:after,.modal-header:before,.row:after,.row:before{display:table;content:" ";}
.clearfix:after,.container-fluid:after,.modal-header:after,.row:after{clear:both;}
.pull-right{float:right!important;}
.pull-left{float:left!important;}
@media (max-width:767px){
.hidden-xs{display:none!important;}
}
@media (min-width:768px) and (max-width:991px){
.hidden-sm{display:none!important;}
}
.btn-primary{text-shadow:0 -1px 0 rgba(0,0,0,.2);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);}
.btn-primary:active{-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125);}
.btn:active{background-image:none;}
.btn-primary{background-image:-webkit-linear-gradient(top,#337ab7 0,#265a88 100%);background-image:-o-linear-gradient(top,#337ab7 0,#265a88 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));background-image:linear-gradient(to bottom,#337ab7 0,#265a88 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);background-repeat:repeat-x;border-color:#245580;}
.btn-primary:focus,.btn-primary:hover{background-color:#265a88;background-position:0 -15px;}
.btn-primary:active{background-color:#265a88;border-color:#245580;}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover{background-color:#e8e8e8;background-image:-webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);background-image:-o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));background-image:linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);background-repeat:repeat-x;}
.fa{display:inline-block;font:normal normal normal 14px/1 ;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.pull-right{float:right;}
.pull-left{float:left;}
.fa-search:before{content:"\f002";}
.fa-user:before{content:"\f007";}
.fa-th-large:before{content:"\f009";}
.fa-check:before{content:"\f00c";}
.fa-times:before{content:"\f00d";}
.fa-gear:before,.fa-cog:before{content:"\f013";}
.fa-clock-o:before{content:"\f017";}
.fa-lock:before{content:"\f023";}
.fa-question-circle:before{content:"\f059";}
.fa-crosshairs:before{content:"\f05b";}
.fa-plus:before{content:"\f067";}
.fa-chevron-down:before{content:"\f078";}
.fa-folder-open:before{content:"\f07c";}
.fa-bar-chart:before{content:"\f080";}
.fa-comments:before{content:"\f086";}
.fa-credit-card:before{content:"\f09d";}
.fa-bell:before{content:"\f0f3";}
.fa-wrench:before{content:"\f0ad";}
.fa-copy:before{content:"\f0c5";}
.fa-bars:before{content:"\f0c9";}
.fa-columns:before{content:"\f0db";}
.fa-envelope:before{content:"\f0e0";}
.fa-flash:before{content:"\f0e7";}
.fa-sitemap:before{content:"\f0e8";}
.fa-angle-down:before{content:"\f107";}
.fa-circle:before{content:"\f111";}
.fa-info:before{content:"\f129";}
.fa-puzzle-piece:before{content:"\f12e";}
.fa-bullseye:before{content:"\f140";}
.fa-area-chart:before{content:"\f1fe";}
.fa-line-chart:before{content:"\f201";}
.cc::before{font-family:"cryptocoins";-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-style:normal;font-variant:normal;font-weight:normal;text-decoration:none;text-transform:none;}
.cc.BTC-alt::before{content:"\E028";}
.cc.BTC::before{content:"\E029";}
.cc.DASH-alt::before{content:"\E036";}
.cc.DASH::before{content:"\E037";}
.cc.DOGE-alt::before{content:"\E042";}
.cc.DOGE::before{content:"\E043";}
.cc.ETC-alt::before{content:"\E04A";}
.cc.ETC::before{content:"\E04B";}
.cc.LTC-alt::before{content:"\E084";}
.cc.LTC::before{content:"\E085";}
.cc.XRP-alt::before{content:"\E10D";}
.cc.XRP::before{content:"\E10E";}
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn;}
.ps-container.ps-active-y > .ps-scrollbar-y-rail{display:block;}
.ps-container > .ps-scrollbar-x-rail{display:none;position:absolute;-webkit-border-radius:0px;-moz-border-radius:0px;-ms-border-radius:0px;border-radius:0px;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transition:background-color 0.2s linear, opacity 0.2s linear;-moz-transition:background-color 0.2s linear, opacity 0.2s linear;-o-transition:background-color 0.2s linear, opacity 0.2s linear;transition:background-color 0.2s linear, opacity 0.2s linear;bottom:3px;height:5px;}
.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x{position:absolute;background-color:rgba(130,130,138,1);-webkit-border-radius:0px;-moz-border-radius:0px;-ms-border-radius:0px;border-radius:0px;-webkit-transition:background-color 0.2s linear;-moz-transition:background-color 0.2s linear;-o-transition:background-color 0.2s linear;transition:background-color 0.2s linear;bottom:0;height:5px;}
.ps-container > .ps-scrollbar-y-rail{display:none;position:absolute;-webkit-border-radius:0px;-moz-border-radius:0px;-ms-border-radius:0px;border-radius:0px;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transition:background-color 0.2s linear, opacity 0.2s linear;-moz-transition:background-color 0.2s linear, opacity 0.2s linear;-o-transition:background-color 0.2s linear, opacity 0.2s linear;transition:background-color 0.2s linear, opacity 0.2s linear;right:3px;width:5px;}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y{position:absolute;background-color:rgba(130,130,138,1);-webkit-border-radius:0px;-moz-border-radius:0px;-ms-border-radius:0px;border-radius:0px;-webkit-transition:background-color 0.2s linear;-moz-transition:background-color 0.2s linear;-o-transition:background-color 0.2s linear;transition:background-color 0.2s linear;right:0;width:5px;}
.ps-container:hover > .ps-scrollbar-x-rail,.ps-container:hover > .ps-scrollbar-y-rail{opacity:0.6;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter:alpha(opacity=60);}
.ps-container:hover > .ps-scrollbar-x-rail:hover{background-color:rgba(10,10,10,0.3);opacity:0.9;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";filter:alpha(opacity=90);}
.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x{background-color:rgba(130,130,138,0.9);}
.ps-container:hover > .ps-scrollbar-y-rail:hover{background-color:rgba(10,10,10,0.3);opacity:0.9;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";filter:alpha(opacity=90);}
.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y{background-color:rgba(130,130,138,0.9);}
html{font-size:100%;height:100%;background-color:#eeeeee;}
body{background-color:#f7f7f7;color:rgba(118, 118, 118, 1.0);font-family:'Open Sans', Arial, Helvetica, sans-serif;font-size:14px;padding:0px!important;margin:0px!important;line-height:23px;font-style:normal;font-weight:normal;min-height:100%;float:left;position:relative;width:100%;}
section.box.marginBottom0,.marginBottom0{margin-bottom:0px;}
.page-container.container-fluid{padding:0px;}
.page-title h1{font-size:28px;font-weight:400;padding:0;text-transform:uppercase;font-family:Roboto, Helvetica, Arial, sans-serif;color:rgba(118, 118, 118, 1.0);margin-bottom:15px;}
.page-title{display:inline-block;width:100%;margin-top:10px;}
h1,h2,h3,h4{margin:10px 0;font-family:'Open Sans', Arial, Helvetica, sans-serif;font-weight:400;color:#505458;}
.bold{font-weight:700;}
.f-s-14{font-size:14px!important;}
img{width:100%;}
a{color:#e77512;}
a:hover,a:focus{color:#333333;}
.text-dark{color:#333333;}
.bg-white{background:#ffffff!important;padding:3px 8px;color:#777777;}
.pace .pace-progress{background:#e77512;height:3px;}
.pace .pace-activity{top:15px;right:15px;width:17px;height:17px;border:solid 3px transparent;border-top-color:#e77512;border-left-color:#e77512;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.page-topbar{min-height:60px;position:fixed;width:100%;background-image:linear-gradient(to right bottom, #e8962e, #e45131)!important;top:0px;left:0px;z-index:1999;box-shadow:0 2px 4px rgba(33,33,33,.2);-webkit-box-shadow:0 2px 4px rgba(33,33,33,.2);-moz-box-shadow:0 2px 4px rgba(33,33,33,.2);-o-box-shadow:0 2px 4px rgba(33,33,33,.2);-ms-box-shadow:0 2px 4px rgba(33,33,33,.2);max-height:60px;}
.page-topbar .logo-area{
      width: 72px;
      display: block;
      height: 60px;
      float: left;
      overflow: hidden;
      padding: 6px 20px;
}
.logo-area img {
  height: auto;
  max-height: 100%;
  width: auto;
}
.page-topbar .quick-area .info-menu{height:60px;margin:0;line-height:60px;padding:0 15px;}
.page-topbar .quick-area .info-menu li{position:relative;}
.page-topbar .quick-area .info-menu li a.toggle,.page-topbar .quick-area .info-menu li a.toggle_chat,.page-topbar .quick-area .info-menu li a.sidebar_toggle{width:30px;display:inline-block;text-align:center;font-size:14px;color:#ffffff;position:relative;}
.page-topbar .quick-area .info-menu li a.toggle .badge,.page-topbar .quick-area .info-menu li a.toggle_chat .badge{position:absolute;font-size:10px;padding:4px;margin:10px 0 0 -5px;width:18px;height:18px;}
.page-topbar .quick-area .info-menu li a.toggle_chat i{font-size:18px;}
.page-topbar .quick-area .info-menu li.profile a{width:auto;text-decoration:none;}
.page-topbar .quick-area .info-menu li.profile img{height:30px;width:30px;top:0px;right:10px;position:relative;background-color:#999999;}
.page-topbar i{font-size:14px;}
.page-topbar .message-toggle-wrapper,.page-topbar .notify-toggle-wrapper,.page-topbar .searchform,.page-topbar li.profile{opacity:0;}
.page-topbar .message-toggle-wrapper.showopacity,.page-topbar .notify-toggle-wrapper.showopacity,.page-topbar .searchform.showopacity,.page-topbar li.profile.showopacity{opacity:1!important;}
.page-topbar .quick-area .info-menu li .dropdown-menu{width:360px;border-radius:0px;-o-border-radius:0px;-ms-border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;line-height:23px;font-size:14px;padding-bottom:0px;border:0px solid transparent;box-shadow:0 0 20px 0 rgba(33,33,33,.2);-webkit-box-shadow:0 0 20px 0 rgba(33,33,33,.2);-moz-box-shadow:0 0 20px 0 rgba(33,33,33,.2);-o-box-shadow:0 0 20px 0 rgba(33,33,33,.2);-ms-box-shadow:0 0 20px 0 rgba(33,33,33,.2);margin-top:-1px;padding-top:0px;}
.page-topbar .dropdown-menu{background:#ffffff;border:1px solid #f5f5f5;}
.page-topbar .dropdown-menu:after,.page-topbar .dropdown-menu:before{bottom:100%;left:22px;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;}
.page-topbar .dropdown-menu:after{border-color:rgba(255, 255, 255, 0);border-bottom-color:#ffffff;border-width:9px;margin-left:-9px;}
.page-topbar .dropdown-menu:before{border-color:rgba(194, 225, 245, 0);border-bottom-color:rgba(80, 80, 80, .1);border-width:10px;margin-left:-10px;}
.page-topbar li .dropdown-menu li.list{padding:0 30px;overflow:hidden;max-height:300px;height:300px;}
.page-topbar li .dropdown-menu li li{width:100%;display:block;position:relative;padding:15px 0 15px 0;border-bottom:1px solid #eaeaea;}
.page-topbar li .dropdown-menu li li:last-child{border-bottom:0px;}
.page-topbar li .dropdown-menu li a{text-decoration:none;color:#717171;}
.page-topbar li .dropdown-menu li .name,.page-topbar li .dropdown-menu li .desc{display:block;position:relative;}
.page-topbar li .dropdown-menu li .user-img img{width:25px;height:25px;float:left;margin:5px 15px 0 0;opacity:0.8;}
.page-topbar li .dropdown-menu li .profile-status{height:6px;width:6px;border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;display:inline-block;position:absolute;bottom:0px;right:0px;}
.page-topbar li .dropdown-menu li .name{color:#aaaaaa;}
.page-topbar li .dropdown-menu li .name .time{color:#cccccc;}
.page-topbar li .dropdown-menu li .desc{color:#999999;}
.page-topbar li .dropdown-menu li.unread .user-img img{opacity:1;margin-bottom:20px;}
.page-topbar li .dropdown-menu li.unread .name{color:#717171;}
.page-topbar li .dropdown-menu li.unread .name .time{color:#aaaaaa;}
.page-topbar li .dropdown-menu li.unread .desc{color:#777777;}
.page-topbar li .dropdown-menu li.external a:hover,.page-topbar li .dropdown-menu li.external{height:auto;background:#eeeeee;}
.page-topbar li .dropdown-menu li.external a{display:block;padding:15px 30px;color:#999999;font-size:13px;}
.page-topbar li .dropdown-menu.notifications li .name .time{display:block;position:relative;}
.page-topbar li .notifications .notice-icon i{border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;height:30px;width:30px;line-height:30px;float:left;display:inline-block;text-align:center;margin-right:15px;color:#ffffff;margin-top:5px;}
.page-topbar li .notifications .total{padding:0px 30px 0px 30px;}
.page-topbar li .notifications .total span{padding:10px 0px 10px 0px;border-bottom:1px solid #eaeaea;display:block;}
.page-topbar li .notifications .available .notice-icon i{background-color:#4CAF50;}
.page-topbar li .notifications .busy .notice-icon i{background-color:rgba(240,80,80,1);}
.page-topbar li .notifications .away .notice-icon i{background-color:rgba(255,193,7,1);}
.page-topbar li .dropdown-menu.profile{max-width:180px;height:auto;padding:0px;}
.page-topbar li .dropdown-menu.profile li{line-height:40px;display:block;height:40px;margin:0px;}
.page-topbar li .dropdown-menu.profile li i{margin-right:10px;line-height:36px;height:36px;width:auto;text-align:center;}
.page-topbar li .dropdown-menu.profile li a{display:block;border-bottom:1px solid #eeeeee;}
.page-topbar li .dropdown-menu.profile li.last a,.page-topbar li .dropdown-menu.profile li a:hover{background:#eeeeee;}
@media (max-width: 450px){
.profile .toggle span{display:none;}
.page-topbar .quick-area .info-menu li.profile img{right:0px;}
.page-topbar .quick-area .info-menu li.profile .dropdown-menu{right:auto;left:-122px;}
.page-topbar .profile .dropdown-menu:after,.page-topbar .profile .dropdown-menu:before{right:22px;left:auto;}
}
@media (max-width: 680px){
.profile .toggle span{display:none;}
.page-topbar .quick-area .info-menu li.profile img{right:0px;}
.page-topbar .quick-area .pull-left ul.info-menu{padding-right:0px;}
.page-topbar .quick-area .pull-right ul.info-menu{padding-left:0px;}
}
@media (max-width: 245px){
.page-topbar .quick-area .pull-left{display:none;}
}
.page-topbar li.searchform{margin-left:15px;height:34px;}
.page-topbar li.searchform .input-group{top:6px;width:30px;cursor:hand;cursor:pointer;border-bottom:2px solid transparent;}
.page-topbar li.searchform .input-group-addon{border:none;margin-left:30px;background:transparent;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;color:#ffffff;min-width:10px;padding:0px;border-bottom:5px solid transparent;}
.page-topbar li.searchform .form-control{border:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background:transparent;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;display:inline-block;width:0px;color:#ffffff;}
.page-topbar li.searchform input[type="submit"]{display:none;}
.page-topbar li.searchform form{display:inline-block;height:34px;top:8px;position:relative;}
.page-sidebar{height:auto;width:260px;position:fixed;padding:0px;background-color:#ffffff;margin-top:60px;overflow:hidden;box-shadow:0 0 10px 0 rgba(33,33,33,.2);-webkit-box-shadow:0 0 10px 0 rgba(33,33,33,.2);-moz-box-shadow:0 0 10px 0 rgba(33,33,33,.2);-o-box-shadow:0 0 10px 0 rgba(33,33,33,.2);-ms-box-shadow:0 0 10px 0 rgba(33,33,33,.2);min-height:100%;height:auto;}
.page-sidebar.fixedscroll{position:fixed;}
.fixedscroll #main-menu-wrapper{padding-top:0px;overflow:hidden;position:relative;}
#main-menu-wrapper ul{padding:0px;margin:0px;padding-left:0px;list-style-type:none;font-family:'Roboto', Arial, Helvetica, sans-serif;font-weight:400;font-size:14px;}
#main-menu-wrapper ul.wraplist{padding-bottom:0px;padding-top:0px;}
#main-menu-wrapper li ul.sub-menu{padding-left:0px;}
#main-menu-wrapper li ul.sub-menu ul.sub-menu{padding-left:20px;}
#main-menu-wrapper li ul.sub-menu{display:none;list-style-type:none;font-size:14px;width:100%;}
#main-menu-wrapper li a{display:block;line-height:42px;min-height:42px;height:auto;color:#f1f1f1;color:#424242;text-decoration:none;padding-left:5px;clear:both;border-left:4px solid transparent;white-space:nowrap;}
#main-menu-wrapper li .sub-menu a{line-height:36px;min-height:36px;}
#main-menu-wrapper li .sub-menu a{color:rgba(174, 178, 183, 1.0);margin-bottom:1px;padding-left:55px;border-left:4px solid transparent;}
#main-menu-wrapper li .sub-menu a:hover{background-color:rgba(33, 33, 33, 0.1);border-left:4px solid #e77512;}
#main-menu-wrapper li a:hover{background-color:rgba(33, 33, 33, 0.1);border-left:4px solid #e77512;}
#main-menu-wrapper li.open a{background-color:rgba(33, 33, 33, 0.1);border-left:4px solid #e77512;}
#main-menu-wrapper li a:hover .arrow:before{color:#757575;}
#main-menu-wrapper li .sub-menu a:hover .arrow:before{color:rgba(194, 198, 203, 0.65);}
#main-menu-wrapper li a i{display:inline-block;width:45px;height:34px;line-height:34px;text-align:center;top:0px;position:relative;}
#main-menu-wrapper li a .arrow:before{float:right;margin-top:1px;margin-right:20px;display:inline;font-size:16px;height:auto;content:"\f104";font-weight:300;text-shadow:none;color:#757575;}
#main-menu-wrapper li a .arrow{float:right;position:absolute;right:0px;}
#main-menu-wrapper .fa{font-size:14px;}
#main-menu-wrapper li .label{font-family:'Open Sans', Arial, Helvetica, sans-serif;font-size:10px;padding:3px 7px;float:right;margin:15px 15px 0 0;position:absolute;right:30px;}
#main-menu-wrapper .menusection{font-family:'Roboto', Arial, Helvetica, sans-serif;font-weight:400;font-size:13px;line-height:40px;padding-left:24px;margin:10px 0 0px 0;color:#9e9e9e;text-transform:uppercase;}
.profile-status.available{background-color:#4CAF50;}
.profile-status.busy{background-color:#f44336;}
.profile-status.away{background-color:#FFC107;}
.profile-status.offline{background-color:#9e9e9e;}
section.box{background-color:#ffffff;margin:15px 0;overflow:hidden;-webkit-box-shadow:0 2px 28px rgba(0,0,0,.1);box-shadow:0 2px 28px rgba(0,0,0,.1);}
section header{width:100%;display:inline-block;background-color:#ffffff;border:1px solid rgba(0,0,0,0.09);border-bottom:0px solid transparent;vertical-align:top;position:relative;min-height:75px;}
section header .title{margin-top:10px;font-family:'Roboto', Arial, Helvetica, sans-serif;font-size:18px;padding-left:30px;padding-top:15px;line-height:30px;color:#676767;font-weight:400;display:inline-block;}
section .content-body{padding:5px 20px 30px 20px;background-color:#ffffff;border:1px solid #e8e8e8;border-top:0px;-webkit-transition:800ms;-moz-transition:800ms;-o-transition:800ms;transition:800ms;}
section.box.nobox{background-color:transparent;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none;}
@media (max-width: 1200px){
section.box.nobox{overflow:visible;}
}
section.nobox .content-body{background-color:transparent;border:0px solid transparent;padding:0 0px 0px 0px;}
section.box .actions{margin:10px 15px 0 15px;line-height:50px;position:absolute;right:0px;top:0px;}
section.box .actions a{color:#bcbcbc;font-size:12px;margin-left:0px;padding:5px;cursor:hand;cursor:pointer;text-decoration:none;}
section.box .actions a:hover{color:#999999;text-decoration:none;}
.db_box{background-color:#ffffff;box-shadow:0 1px 3px rgba(33,33,33,.2);-webkit-box-shadow:0 1px 3px rgba(33,33,33,.2);-moz-box-shadow:0 1px 3px rgba(33,33,33,.2);-o-box-shadow:0 1px 3px rgba(33,33,33,.2);-ms-box-shadow:0 1px 3px rgba(33,33,33,.2);}
input[type=text],.form-control{box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;-o-box-shadow:none;border-radius:0px;-o-border-radius:0px;-ms-border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;border:1px solid #e1e1e1;}
.form-control:focus{background:#f8f8f8;border-color:#e77512;outline:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.form-group{margin-bottom:20px;}
.form-label{font-weight:400;color:#555555;}
.form-group .desc{font-size:13px;color:#999999;margin-left:15px;}
.help-block{color:#999999;font-style:italic;}
.input-group .input-group-addon{min-width:40px;}
.input-group .input-group-addon{border-color:#e1e1e1;background-color:#f5f5f5;color:#555555;outline:0;border-radius:0px;-o-border-radius:0px;-ms-border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;-webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;-moz-transition:border-color ease-in-out .15s, -moz-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;-ms-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
.btn{border-radius:0px;-o-border-radius:0px;-ms-border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;border:0px;font-family:Roboto, Helvetica, Arial, sans-serif;font-weight:400;text-shadow:none;}
.btn.btn-primary{background:#e77512;color:#ffffff;outline:none;}
.btn{background:#eaeaea;color:#333333;outline:none;}
.btn{padding:7px 18px;outline:none;}
.btn.btn-lg,.btn-lg{padding:10px 21px;}
.btn:hover,.btn:active,.btn:focus{color:#333333;background:#eeeeee;}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus{background:#d14d1a;color:#ffffff;}
.btn-primary:active{box-shadow:none;-o-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;-webkit-box-shadow:none;}
.btn-primary:disabled{background:rgba(0,131,122, 1.0);color:#ffffff;}
@media (max-width: 767px){
.hidden-xs{display:none!important;}
}
@media (min-width: 768px) and (max-width: 991px){
.hidden-sm{display:none!important;}
}
.crypto-icon{padding:5px 20px 10px;}
.crypto-icon i{font-size:40px;}
.form-group.cryptonia .desc{margin-left:0;}
.balance{background:#f7f7f7;padding:10px;text-align:left;}
.bg-white{background:white!important;}
.img-affa-wrapper{padding:20px;border:2px dashed #e77512;margin-bottom:30px;}
.form-control-static.with-border{font-size:13px;padding-left:10px;border:1px solid #e1e1e1;padding-top:4.5px!important;padding-bottom:4.5px!important;}
.modal-content{border:1px solid rgba(0, 0, 0, .2);box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;border-radius:0px;-o-border-radius:0px;-ms-border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
.modal-body{padding:30px;}
.modal{z-index:11040;}
@media (max-width: 480px){
.container-fluid{padding:0px;}
}
.dropdown-menu{border-radius:0px;-o-border-radius:0px;-ms-border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;-webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .125);-moz-box-shadow:0 3px 8px rgba(0, 0, 0, .125);box-shadow:0 3px 8px rgba(0, 0, 0, .125);border-color:#f5f5f5;}
.fa{font-size:14px;}
.icon-sm{font-size:21px;}
.icon-md{font-size:28px;}
.icon-rounded{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;padding:15px;background-color:#777777;color:#ffffff;}
.icon-sm.icon-rounded{padding:15px;}
.icon-primary{color:#e77512;}
.has-gradient-to-right-bottom{background-image:-webkit-linear-gradient(to right, #e8962e, #e45131)!important;background-image:-webkit-gradient(linear, left top, left bottom, from(to right), color-stop(#e8962e), to(#e45131))!important;background-image:linear-gradient(to right bottom, #e8962e, #e45131)!important;}
.has-border-left-3{border-bottom:3px solid #e77512;}
.color-white{color:#fff!important;}
.color-primary{color:#e77512!important;}
.icon-white{color:#fff;}
.mt-10{margin-top:10px!important;}
.mt-20{margin-top:20px!important;}
.mt-30{margin-top:30px!important;}
.mb-5{margin-bottom:5px!important;}
.mb-10{margin-bottom:10px!important;}
.mb-20{margin-bottom:15px!important;}
.no-mt{margin-top:0!important;}
.no-mb{margin-bottom:0!important;}
.no-pr{padding-right:0!important;}
.no-pl{padding-left:0!important;}
@media (max-width: 1200px){
.no-pl{padding-left:15px!important;}
.no-pr{padding-right:15px!important;}
}
.label{padding:.5em .9em .5em;font-size:75%;font-weight:400;color:#fff;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;text-shadow:none;}
.label-accent{background-color:#E91E63;}
.badge{display:inline-block;min-width:10px;padding:3px 7px;font-size:12px;font-weight:400;line-height:1;color:#fff;background-color:#777;border-radius:10px;-o-border-radius:10px;-ms-border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
.badge-accent{background-color:#E91E63;color:#ffffff;}
#main-content,.page-chatapi,.page-topbar,.page-sidebar,.page-topbar .logo-area,.page-topbar .quick-area .pull-right,.wraplist,.chatapi-windows{-webkit-transition:600ms;-moz-transition:600ms;-o-transition:600ms;transition:600ms;}
.main-wrapper{margin-top:60px;display:inline-block;width:100%;padding:15px 15px 0 15px;margin-left:0px;margin-right:0px;}
#main-content{margin-left:260px;display:block;}
.page-chatapi.hideit{width:0px;height:658px;}
.page-chatapi.hideit .contact-list .user-status{display:none;}
.page-chatapi{height:auto;position:fixed;padding:0px;background-color:#ffffff;margin-top:0px;top:0px;right:0px;z-index:9999;box-shadow:0 0 10px 0 rgba(33,33,33,.2);-webkit-box-shadow:0 0 10px 0 rgba(33,33,33,.2);-moz-box-shadow:0 0 10px 0 rgba(33,33,33,.2);-o-box-shadow:0 0 10px 0 rgba(33,33,33,.2);-ms-box-shadow:0 0 10px 0 rgba(33,33,33,.2);}
.chatapi-windows{position:fixed;bottom:0px;right:260px;height:300px;max-height:300px;display:inline-block;z-index:9999;}
.chat-wrapper{overflow:hidden;position:relative;}
.page-chatapi.hideit .search-bar{display:none;}
.page-chatapi .search-bar{display:inline-block;}
.page-chatapi .search-bar input{background-color:rgba(33, 33, 33, 0.1);color:#aaaaaa;font-size:14px;border:0px;width:220px;margin:20px 20px 0 20px;}
.page-chatapi .search-bar input:focus,.page-chatapi .search-bar input:hover{border:0px;}
.page-chatapi .group-head{color:#9e9e9e;padding:30px 30px 0 30px;font-size:14px;margin:0px 0 15px 0;white-space:nowrap;}
.page-chatapi .contact-list{padding:0 15px;}
.page-chatapi .contact-list .user-row{display:block;padding:15px;margin:0 0 5px 0;position:relative;cursor:hand;cursor:pointer;white-space:nowrap;}
.page-chatapi .contact-list .user-row:hover,.page-chatapi .contact-list .user-row:active,.page-chatapi .contact-list .user-row:focus{background-color:rgba(33,33,33,0.1);}
.page-chatapi .contact-list .user-img{float:left;width:30px;display:inline-block;padding:0px 0 0 0;}
.page-chatapi .contact-list .user-img img{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;width:30px;height:30px;}
.page-chatapi .contact-list .user-status{float:right;width:15px;display:inline-block;position:absolute;top:20px;right:15px;}
.page-chatapi .contact-list .user-status i{font-size:10px;height:10px;width:10px;float:right;margin-right:0px;}
.page-chatapi .contact-list .user-status.available i{color:#4CAF50;}
.page-chatapi .contact-list .user-status.busy i{color:#f44336;}
.page-chatapi .contact-list .user-status.away i{color:#E91E63;}
.page-chatapi .contact-list .user-info{padding-left:45px;display:block;margin-right:15px;}
.page-chatapi .contact-list .user-info h4{margin:0 0 5px 0;font-size:14px;display:block;}
.page-chatapi .contact-list .user-info h4 a{color:#616161;display:block;text-decoration:none;}
.page-chatapi .contact-list .user-info .status{margin:0 0 0px 0;font-size:10px;color:#9e9e9e;display:block;line-height:10px;}
.db_box{padding:15px;}
.r4_counter{min-height:100px;margin-bottom:15px;border-radius:7px;overflow:hidden;position:relative;transition:all 0.3s ease-in-out;background:#ffffff;-webkit-box-shadow:0 2px 28px rgba(0,0,0,.1);box-shadow:0 2px 28px rgba(0,0,0,.1);}
.r4_counter .stats{margin-left:50px;}
.r4_counter.has-gradient-to-right-bottom .stats span{color:#f7f7f7;}
.r4_counter.has-gradient-to-right-bottom,.r4_counter:hover{-webkit-box-shadow:0 1px 28px rgba(255,152,0,.66);box-shadow:0 1px 28px rgba(255,152,0,.66);cursor:pointer;}
.r4_counter:hover{background-image:linear-gradient(to right bottom, #e8962e, #e45131)!important;}
.r4_counter:hover h3{color:#fff;}
.r4_counter:hover span{color:#f7f7f7;}
.r4_counter:hover .icon-primary{color:#fff;}
.r4_counter .icon-after{position:absolute;width:30%;line-height:75px;height:92%;font-size:84px;color:#f7f7f7;top:5px;right:0;}
.r4_counter.has-gradient-to-right-bottom .icon-after,.r4_counter:hover .icon-after{opacity:0.2;}
.inviewport{opacity:0;}
.inviewport.visible{opacity:1;}
.page-topbar .logo-area{background-image:url();background-repeat:no-repeat;}
.page-topbar .chat-toggle-wrapper .fa-times{display:none;}
@media (max-width: 767px){
.main-wrapper{padding:15px 0 0 0px;}
.page-topbar .logo-area{width:100%;}
.page-topbar .quick-area .info-menu li.sidebar-toggle-wrap{position:fixed;top:0px;right:0px;}
.page-topbar .quick-area .info-menu li.notify-toggle-wrapper a,.page-topbar .quick-area .info-menu li.message-toggle-wrapper a,.page-topbar .quick-area .info-menu li a.toggle_chat,.page-topbar .quick-area .info-menu li.sidebar-toggle-wrap a.sidebar_toggle{color:#ffffff;}
.page-topbar .quick-area .pull-right{position:fixed;top:0px;right:30px;}
.page-topbar .quick-area .info-menu li.message-toggle-wrapper{position:fixed;top:0px;right:190px;}
.page-topbar .quick-area .info-menu li.notify-toggle-wrapper{position:fixed;top:0px;right:140px;}
.page-sidebar{z-index:5;}
#main-content{margin-left:60px;z-index:2;}
#main-content,.page-chatapi,.page-topbar,.page-sidebar,.page-topbar .logo-area,.page-topbar .quick-area .pull-right,.wraplist,.chatapi-windows{-webkit-transition:0ms;-moz-transition:0ms;-o-transition:0ms;transition:0ms;}
.page-topbar .logo-area{background-image:url();background-repeat:no-repeat;background-position:left top;}
.page-topbar .quick-area .info-menu li .dropdown-menu{width:280px;left:-120px;}
.page-topbar .quick-area .info-menu li .dropdown-menu:before,.page-topbar .quick-area .info-menu li .dropdown-menu:after{display:none;}
}
/*! CSS Used keyframes */
@-webkit-keyframes pace-spinner{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
@-moz-keyframes pace-spinner{0%{-moz-transform:rotate(0deg);transform:rotate(0deg);}100%{-moz-transform:rotate(360deg);transform:rotate(360deg);}}
@-o-keyframes pace-spinner{0%{-o-transform:rotate(0deg);transform:rotate(0deg);}100%{-o-transform:rotate(360deg);transform:rotate(360deg);}}
@-ms-keyframes pace-spinner{0%{-ms-transform:rotate(0deg);transform:rotate(0deg);}100%{-ms-transform:rotate(360deg);transform:rotate(360deg);}}
@keyframes pace-spinner{0%{transform:rotate(0deg);transform:rotate(0deg);}100%{transform:rotate(360deg);transform:rotate(360deg);}}
@-webkit-keyframes fadeIn{0%{opacity:0;}100%{opacity:1;}}
@keyframes fadeIn{0%{opacity:0;}100%{opacity:1;}}
/*! CSS Used fontfaces */

@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OX-hpKKSTj5PW.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OVuhpKKSTj5PW.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OXuhpKKSTj5PW.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OUehpKKSTj5PW.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OXehpKKSTj5PW.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OXOhpKKSTj5PW.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OUuhpKKSTjw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWJ0bf8pkAp6a.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFUZ0bf8pkAp6a.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWZ0bf8pkAp6a.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVp0bf8pkAp6a.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWp0bf8pkAp6a.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFW50bf8pkAp6a.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOX-hpKKSTj5PW.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOVuhpKKSTj5PW.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOXuhpKKSTj5PW.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUehpKKSTj5PW.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOXehpKKSTj5PW.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOXOhpKKSTj5PW.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUuhpKKSTjw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOX-hpKKSTj5PW.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOVuhpKKSTj5PW.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOXuhpKKSTj5PW.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUehpKKSTj5PW.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOXehpKKSTj5PW.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOXOhpKKSTj5PW.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhpKKSTjw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:100;src:local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxFIzIXKMnyrYk.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:100;src:local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxMIzIXKMnyrYk.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:100;src:local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxEIzIXKMnyrYk.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:100;src:local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxLIzIXKMnyrYk.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:100;src:local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxHIzIXKMnyrYk.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:100;src:local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxGIzIXKMnyrYk.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:100;src:local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxIIzIXKMny.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCRc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fABc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCBc4AMP6lbBP.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBxc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCxc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fChc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCRc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fABc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCBc4AMP6lbBP.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBxc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCxc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fChc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCRc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCBc4AMP6lbBP.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBxc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCxc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfChc4AMP6lbBP.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
