<iframe data-aa="1239934" src="//ad.a-ads.com/1239934?size=200x200" scrolling="no" style="width:200px; height:200px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>
<% @response.each do |balance| %>
  <%= balance.to_f %><br />
<% end %>