<div class="page-sidebar fixedscroll">
    <!-- MAIN MENU - START -->
    <div class="page-sidebar-wrapper ps-container ps-active-y" id="main-menu-wrapper" style="height: 405px;">


        <ul class="wraplist" style="height: auto;">
            <li class="menusection">Main</li>
            <li class="">
              <%= link_to root_path do %>
                    <i class="fa fa-th-large color-primary"></i>
                    <span class="title">Dashboard</span>
              <% end %>
                <%= link_to bitcoin_index_path do %>
                    <i class="cc BTC color-primary"></i>
                    <span class="title">Bitcoin</span>
                </a>
                <% end %>

                <%= link_to litecoin_index_path do %>
                    <i class="cc LTC color-primary"></i>
                    <span class="title">Litecoin</span>
                <% end %>

                <%= link_to ripple_index_path do %>
                    <i class="cc XRP color-primary"></i>
                    <span class="title">Ripple</span>
                <% end %>

                <%= link_to dash_index_path do %>
                    <i class="cc DASH color-primary"></i>
                    <span class="title">Dashcoin</span>
                <% end %>

                <%= link_to doge_index_path do %>
                    <i class="cc DOGE color-primary"></i>
                    <span class="title">Dogecoin</span>
                <% end %>

                <%= link_to etherium_index_path do %>
                    <i class="cc ETC-alt color-primary"></i>
                    <span class="title">Ethereum</span>
                <% end %>
            </li>
        </ul>

    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 404px; right: 3px;"><div class="ps-scrollbar-y" style="top: 0px; height: 135px;"></div></div></div>
    <!-- MAIN MENU - END -->

</div>