<div class="quick-area">
  <div class="pull-left">
  </div>
  <div class="pull-right">
    <ul class="info-menu right-links list-inline list-unstyled">
      <% if current_user.present? %>
        <li class="profile showopacity">
          <a href="#" data-toggle="dropdown" class="toggle">
          <i class="fa fa-user"></i>
          <span><%= current_user.email %></span>
          </a>
        </li>
        <li class="profile showopacity">
          <%= link_to 'logout', destroy_user_session_path, method: :delete, style: "color:white;"%> 
        </li>
      <% else %>
        <li class="profile showopacity">
          <%= link_to 'login', new_user_session_path, style: "color:white;" %> 
        </li>
      <% end %>
    </ul>
  </div>
</div>
</div>