<!DOCTYPE html>
<html>
  <head>
    <title>Soup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'anonymous', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'anonymous', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="maValidation" content="fa6a6cb1959e211940023401263e602a" />
    <meta name="coinzilla" content="21883fc1bda8b93b1dce5eb900375039" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y1853LGS2V"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Y1853LGS2V');
    </script>
    <script type="text/javascript">
    _atrk_opts = { atrk_acct:"SNiyt1FYxz20cv", domain:"faucetsoup.com",dynamic: true};
    (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
    </script>
    <noscript><img src="https://certify.alexametrics.com/atrk.gif?account=SNiyt1FYxz20cv" style="display:none" height="1" width="1" alt="" /></noscript>
    <!-- End Alexa Certify Javascript -->  
  </head>


		<!-- Fix Internet Explorer ______________________________________-->

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="vendor/html5shiv.js"></script>
			<script src="vendor/respond.js"></script>
		<![endif]-->
			
<body data-aos-easing="ease" data-aos-duration="1000" data-aos-delay="0" style="overflow: visible;">
		<div class="main-page-wrapper">


			<!-- ********************** Loading Transition ************************ -->
			<div id="loader-wrapper" style="display: none;">
				<div id="loader" style="display: none;"></div>
			</div>

			<div class="html-top-content">
				<!-- ********************** Theme Top Banne & Header ************************ -->
				<div class="theme-top-section">
					<!-- ^^^^^^^^^^^^^^^^^ Theme Menu ^^^^^^^^^^^^^^^ -->
					<header class="theme-main-menu">
						<div class="container">
							<div class="menu-wrapper clearfix">
								<div class="logo"><a href="index.html">
                <%# <img src="images/logo/logo.png" alt="Logo"> %>
                  <p>Crypto Soup<p>
                </a></div>
								
								<ul class="right-widget celarfix">
									
									<li class="login-button">
                  <%= link_to 'Login', new_user_session_path %>
                  </li>
								</ul> <!-- /.right-widget -->


								<!-- Navigation -->
							    <nav class="navbar navbar-expand-lg" id="mega-menu-holder">
							    	<div class="container">
							    		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
							    		  <i class="fa fa-bars" aria-hidden="true"></i>
							    		</button>
							    		
							    	</div>
							    </nav>
							</div> <!-- /.menu-wrapper -->
						</div> <!-- /.container -->
					</header> <!-- /.theme-main-menu -->
					


					<!-- ^^^^^^^^^^^^^^^^^ Theme Banner ^^^^^^^^^^^^^^^ -->
					<div id="theme-banner" class="theme-banner-one">
            <%= image_tag 'background', class: "illustration" %>
						
						
						
						
						
						<div class="round-shape-three"></div>
						<div class="container">
							<div class="main-text-wrapper">
								<h1>A decent faucet<br> is finally here.</h1>
								<p>Small steps to your financial freedom.</p>
								
							</div>
						</div>

						
					</div> <!-- /.theme-banner-one -->
				</div> <!-- /.theme-top-section -->

				<div class="our-feature-two" id="services">
					<div class="container">
						<div class="row single-block">
							<div class="col-lg-6">
								<div class="text">
									
									<h2 class="title"><span>Collect</span> all the coins you like.</h2>
									<p>Collecting should be fair &amp; easy! anyone should be able to collect and have fun while doing so.</p>
								</div> <!-- /.text -->
							</div> <!-- /.col- -->
							<div class="col-lg-6 img-box"><div>
              <%= image_tag 'grow' %>
              </div></div>
						</div> <!-- /.row -->

						 <!-- /.row -->

						 <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.our-feature-two -->



				<footer class="theme-footer">
					<div class="container">
						<div class="inner-wrapper">
							 <!-- /.top-footer-data-wrapper -->

							<div class="bottom-footer clearfix">
								<p class="copyright">© 2018 <a href="#">cryto</a> All Right Reserved</p>
							</div> <!-- /.bottom-footer -->
						</div>
					</div> <!-- /.container -->
				</footer>

			</div> <!-- /.html-top-content -->


		</div> <!-- /.main-page-wrapper -->
	<script src="https://dopor.info/code.js?sid=874660" async type="text/javascript" charset="UTF-8"></script>
    <script async src="https://appsha1.cointraffic.io/js/?wkey=myydYlLwfs"></script>
  </body>
</html>