<!DOCTYPE html>
<html>
  <head>
    <title>Soup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="maValidation" content="fa6a6cb1959e211940023401263e602a" />
    <meta name="coinzilla" content="21883fc1bda8b93b1dce5eb900375039" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y1853LGS2V"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Y1853LGS2V');
    </script>
    <!-- Start Alexa Certify Javascript -->
    <script type="text/javascript">
    _atrk_opts = { atrk_acct:"SNiyt1FYxz20cv", domain:"faucetsoup.com",dynamic: true};
    (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
    </script>
    <noscript><img src="https://certify.alexametrics.com/atrk.gif?account=SNiyt1FYxz20cv" style="display:none" height="1" width="1" alt="" /></noscript>
    <!-- End Alexa Certify Javascript -->  
  </head>
  <body class="pace-done">
    <div class="pace  pace-inactive">
      <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
        <div class="pace-progress-inner"></div>
      </div>
      <div class="pace-activity"></div>
    </div>
    <!-- START TOPBAR -->
    <div class="page-topbar">
      <div class="logo-area">
        <%# image_tag 'logo.png', size: '100x100' %>
      </div>
      <%= render partial: 'layouts/top_bar' %>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
      <%= render partial: 'layouts/side_menu' %>
      <!-- START CONTENT -->
      <section id="main-content" class="">
        <div class="wrapper main-wrapper row" style="">
          <div class="col-lg-12">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <%= yield %>
          </div>
          <div class="clearfix"></div>

        </div>
      </section>
      <!-- END CONTENT -->

      <div class="chatapi-windows ">
      </div>
    </div>
    <!-- END CONTAINER -->
    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->
    <script src="https://dopor.info/code.js?sid=874660" async type="text/javascript" charset="UTF-8"></script>
    <script async src="https://appsha1.cointraffic.io/js/?wkey=myydYlLwfs"></script>
    
  </body>
</html>